@import url("https://fonts.googleapis.com/css?family=Poppins:400,500");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: Poppins, sans-serif;
  user-select: none;
}
html {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
}
.card {
  margin: 2rem;
  background: #fffff9;
  border-radius: 1rem;
  box-shadow: 0px 30px 20px -10px rgba(0,0,0,0.2);
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.card * {
  transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.card button {
  border: none;
  cursor: pointer;
}
.card button:focus {
  outline: 0;
}
.card .top {
  color: #fffff9;
  border-radius: 1rem 1rem 0rem 0rem;
  background-image: linear-gradient(-45deg, #fffff9, #d3d3d3);
  position: relative;
  width: 300px;
  height: 360px;
}
.card .top:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33%;
  content: '';
  background-image: linear-gradient(transparent, rgba(0,0,0,0.3));
}
.card .top svg {
  fill: #572a31;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card .top .social-buttons {
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.card .top .social-buttons button {
  background-color: transparent;
}
.card .top .social-buttons button i {
  font-size: 1rem;
  color: #fffff9;
}
.card .top .social-buttons button:hover i {
  color: #ffc629;
}
.card .top button.like {
  z-index: 1;
  position: absolute;
  background-color: transparent;
  bottom: 1.5rem;
  right: 1.5rem;
}
.card .top button.like i {
  font-size: 1.3rem;
  color: #fffff9;
}
.card .top .text {
  z-index: 1;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}
.card .top .text .name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25rem;
}
.card .top .text .name-wrapper i {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: #009abf;
}
.card .top .text .name-wrapper .name {
  font-weight: 500;
  font-size: 1.4rem;
}
.card .top .text .title {
  font-size: 0.8rem;
}
.card .bottom {
  padding: 1.5rem;
  padding-top: 1rem;
  background-color: #f3efa1;
  border-radius: 0rem 0rem 1rem 1rem;
}
.card .bottom .desc {
  color: #1d252c;
}
.card .bottom .buttons {
  margin-top: 2rem;
  display: flex;
}
.card .bottom .buttons button {
  color: #1d252c;
  font-size: 0.7rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdda64;
  border-radius: 1em;
}
.card .bottom .buttons button i {
  font-size: 1rem;
}
.card .bottom .buttons button:hover {
  filter: brightness(110%);
}
.hexagon {
  display: flex;
  box-shadow: 0px 15px 15px -2px rgba(0,0,0,0.2);
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 23.09px;
  background-color: #ffc629;
  margin: 11.55px 0;
}
.hexagon:hover {
  box-shadow: 0px 15px 15px -5px rgba(0,0,0,0.2);
  transform: translateY(-10px) scale(1.1);
  filter: brightness(110%);
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: 11.55px solid #ffc629;
}
.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid #ffc629;
}
img{
    height: 360px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
}