<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1><%= title %></h1>
    <p>Welcome <%= name %></p>
    <a href="https://github.com/dewarian/bt-dating-app"><img src="/images/damngina.jpg" alt="" class="img-size"></a>
  </body>
</html>
