<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <h1>404 not found</h1>
    <a href="/">
        <img class="img-size" src="/images/404.jpg" alt="">
    </a>
</body>

</html>