<!DOCTYPE html>
<html>
<%- include('partial/head.ejs') %>

<body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <li><a href="/about">about</a></li>
      <li><a href="/filter">filter</a></li>
    </ul>
    <%- include('partial/footer.ejs') %>
</body>

</html>