<footer>Dating app - <a href="https://github.com/dewarian/bt-dating-app/wiki">dewarian</a> - <a href="https://dewarian.github.io/bt-dating-app">Static</a></footer>
<!-- https://stackoverflow.com/questions/41795871/how-to-use-block-inheritance-in-ejs-templates -->