<form action="/feature" method="POST" oninput="displayMinAge.value = minAge.valueAsNumber; displayMaxAge.value = maxAge.valueAsNumber; setDistance.value = distance.valueAsNumber">
  <fieldset>
    <legend>Preferences</legend>
    <fieldset>
      <legend>Age</legend>
      <label for="age">
        Between <output name="displayMinAge">18</output> and <output name="displayMaxAge">28</output>
      </label> <br>
      <label for="minAge">min : </label>
      <input type="range" name="minAge" id="preferedAge" value="18" min="18" max="60" step="1">
      <br>
      <label for="maxAge">max: </label>
      <input type="range" name="maxAge" id="preferedAge" min="18" max="60" step="1" value="28">
    </fieldset>
    <fieldset>
      <legend>Distance</legend>
      <label for="distance">
        Up to <output name="setDistance">5</output> km away
      </label><br>
      <input type="range" name="distance" id="maxDistance" min="0" max="269" value="5">
    </fieldset>
    <fieldset>
      <legend>Sexual Preferences</legend>
      <label for="I'm interested in..."></label>

      <input type="radio" name="sexPref" id="female" checked value="female">
      <label for="female">Female</label><br>

      <input type="radio" name="sexPref" id="male" value="male">
      <label for="male">Male</label><br>

      <input type="radio" name="sexPref" id="other" value="other">
      <label for="other">Other</label>
    </fieldset>
  </fieldset>
  <button type="submit">Change preferences</button>
</form>
