<nav class="topnav" id="myTopNav">
  <a href="/">Home</a>
  <div class="right-side">
    <a href="/about">about</a>
    <a href="/user/add">Add a user</a>
    <a href="/user/viewAllUsers">List users</a>
    <a href="/feature">feature</a>
  </div>
</nav>
