<!-- Thanks to @realappie for suggesties Object.entries -->
<% Object.entries(user).forEach(([key, value]) => { %>
    <p><%= key %>: <%= value %> </p>
    <% }) %>
    <ul>
        <% Object.entries(user.preferences).forEach(([key, value]) => { %>
            <li><b><%= [value] %> </b></li>
        <% }) %>
    </ul>
    