<!-- Thanks to @realappie for suggesties Object.entries
    and @sjagoori for what I did wrong -->
<!-- When I go back to this option, I would filter the data to make it clean -->
<% Object.entries(user).forEach(([key, value]) => { %>
<p class="<%= key %>"><%= value %> </p>
<% }) %>
<ul>
    <% Object.entries(user.preferences).forEach(([key, value]) => { %>
    <li><b><%= value %> </b></li>
    <% }) %>
</ul>