extends layout

block content
  h1= title
  p I am #{name},
  p And this is my about me page
  a(href='https://github.com/dewarian/bt-dating-app')
    img.img-size(src="/images/damngina.jpg")
  p I should use EJS instead of jade....
  a(href='/') Go back to home
  br
  a(href='/404') Or go to a 404!
