<!DOCTYPE html>
<html lang="en">
<%- include('partial/header.ejs')  %>

<body>
  <%- include('partial/nav.ejs') %>
  <main class="container">
    <h1><%= title %> </h1>
    <p>Hi, You're on the homepage, want to try out DATA$$?</p>
    <a href="/feature">Try out DATA$$ for free</a>
    <%- include('partial/footer.ejs')  %>
  </main>
</body>

</html>
